@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Patrick+Hand&display=swap');

#imagensAssistir{
    display: flex;
    overflow: hidden;
    width: 100%;
}

#imagensAssistir img{
    height: 280px;
    width: 100%;
}

.caixa{
    border: 2.5px solid  #5e08b1;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    font-family: 'Patrick Hand', sans-serif;
    text-align: center;
}
.caixa h1{
    font-size: 60px;
    color: #b880e1;
    margin: 0;
}
h1 a{
    width: 100%;
    text-decoration: none;
    color: #b880e1;
    font-size: 35px;
    font-family: 'Cookie', Arial, Helvetica, sans-serif;
}
#textoDois{
    display: flex;
    justify-content: space-between;
}
h1 a:hover{
    color:  rgb(175, 122, 72);;
}

